/*CSS Start*/

/* ================================================= HEADER ================================================= */
.header{
	width: 100%;
	height: auto;
	float: left;
}
/* ================================================= HEADER ================================================= */

/* ================================================= CONTENT ================================================= */
.content{
	width: 100%;
	height: auto;
	float: left;
}
/* ================================================= CONTENT ================================================= */

/* ================================================= FOOTER ================================================= */
.footer{
	width: 100%;
	height: auto;
	float: left;
}
/* ================================================= FOOTER ================================================= */

/*CSS End*/