<FilesMatch ".*\.(css|js|otf|eot|svg|ttf|woff|woff2|png|gif|jpg|css\.map|scss)$">
	# Apache 2.4
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>

	# Apache 2.2
	<IfModule !mod_authz_core.c>
		Order Allow,Deny
		Allow from all
	</IfModule>
</FilesMatch>

# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

# Apache 2.2
<IfModule !mod_authz_core.c>
    Order Allow,Deny
    Deny from all
</IfModule>