## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
##

## websitebase files to ignore
standalone/css/style.css
standalone/js/app.js
standalone/css/*[.min., .dist.]*
standalone/js/*[.min., .dist.]*
standalone/css/extras/*[.min., .dist.]*
standalone/js/extras/*[.min., .dist.]*
wordpress/wp-content/themes/websitebase/css/style.css
wordpress/wp-content/themes/websitebase/js/app.js
wordpress/wp-content/themes/websitebase/css/*[.min., .dist.]*
wordpress/wp-content/themes/websitebase/js/*[.min., .dist.]*
wordpress/wp-content/themes/websitebase/css/extras/*[.min., .dist.]*
wordpress/wp-content/themes/websitebase/js/extras/*[.min., .dist.]*
##

## wordpress files to ignore
wordpress/wp-config.php
wordpress/.htaccess
##
