/* ================================================= BASE ADMIN ================================================= */

/* Main menu */
.wp-core-ui #adminmenu div.wp-menu-name{
	font-size:12px;
}
.wp-core-ui #adminmenu .wp-submenu > li > a{
	font-size:12px;
}
.wp-core-ui #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item{
	font-size:12px;
}
/* Main menu */

/* Sidebar */
.wp-core-ui #adminmenu li.wp-menu-separator{
	border-top: 2px dashed gray;
	height: 0px;
	margin: 10px 0px;
}
/* Sidebar */

/* Login */
.wp-core-ui.login #login h1 a{
	background-image: url('base/login/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
	background-size:contain;
	width:100%;
	height: 90px;
}
/* Login */

/* Attachment fields */
@media (min-width: 992px){ 
	.wp-core-ui .attachment-details .setting .value, 
	.wp-core-ui .attachment-details .setting input[type="tel"], 
	.wp-core-ui .attachment-details .setting input[type="text"], 
	.wp-core-ui .attachment-details .setting input[type="password"], 
	.wp-core-ui .attachment-details .setting input[type="number"], 
	.wp-core-ui .attachment-details .setting input[type="search"], 
	.wp-core-ui .attachment-details .setting input[type="email"], 
	.wp-core-ui .attachment-details .setting input[type="url"], 
	.wp-core-ui .attachment-details .setting textarea,
	.wp-core-ui .attachment-details .setting select,
	.wp-core-ui .media-sidebar .setting .value, 
	.wp-core-ui .media-sidebar .setting input[type="tel"], 
	.wp-core-ui .media-sidebar .setting input[type="text"], 
	.wp-core-ui .media-sidebar .setting input[type="password"], 
	.wp-core-ui .media-sidebar .setting input[type="number"], 
	.wp-core-ui .media-sidebar .setting input[type="search"], 
	.wp-core-ui .media-sidebar .setting input[type="email"], 
	.wp-core-ui .media-sidebar .setting input[type="url"], 
	.wp-core-ui .media-sidebar .setting textarea, 
	.wp-core-ui .media-sidebar .setting select{
		width:100%;
		min-width:100%;
		max-width:100%;
	}
	.wp-core-ui .compat-item .field{
		width:100%;
		min-width:100%;
		max-width:100%;
	}
}
.wp-core-ui .attachment-details .setting span, 
.wp-core-ui .compat-item label span, 
.wp-core-ui .media-sidebar .setting span{
    float: left;
	width: 100%;
	min-width:100%;
	max-width:100%;
	text-align: left;
}
.wp-core-ui .media-modal label br.clear, 
.wp-core-ui .media-modal legend br.clear{
    display:none;
}
.wp-core-ui .media-types-required-info{
    display:none;
}
/* Attachment fields */

/* New General Settings */
.wp-core-ui #wpbody-content form .new_fields_html textarea{
	max-width: 350px;
	min-height: 100px;
	width: 100%;
}
.wp-core-ui #wpbody-content form .new_fields_html input[type="text"]{
	max-width: 350px;
	width: 100%;
}
/* New General Settings */

/* ================================================= BASE ADMIN ================================================= */

/* ================================================= BASE PLUGINS ================================================= */

/* ACF attachement fields */
.wp-core-ui .media-modal .compat-attachment-fields > tbody > .acf-field > .acf-input{
	width:100%;
}
.wp-core-ui .media-modal .compat-attachment-fields > tbody > .acf-field > .acf-label{
	min-width:100%;
	max-width:100%;
	text-align: left;
}
@media (max-width: 640px){ 
	.wp-core-ui .acf-expanded .media-sidebar{
		bottom:inherit;
		overflow: auto;
		height: 100%;
	}
}
/* ACF attachement fields */

/* CPT UI fields */
.wp-core-ui #poststuff{
	min-width: inherit;
}
/* CPT UI fields */

/* ================================================= BASE PLUGINS ================================================= */
