## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
##

## websitebase files to ignore
css/style.css
js/app.js
css/*[.min., .dist.]*
js/*[.min., .dist.]*
css/extras/*[.min., .dist.]*
js/extras/*[.min., .dist.]*
##