/* ================================================= THEME FONTS ================================================= */

/* ================================================= THEME FONTS ================================================= */

/*
'$screen-xs'	=> '480px',
'$screen-sm'	=> '768px',
'$screen-md'	=> '992px',
'$screen-lg'	=> '1200px', 
'$screen-xl' 	=> '1920px', 
*/

/*
@media (max-width: $screen-size) {
	...
}
*/

/* ================================================= THEME GLOBAL ================================================= */
body {
	
}
/* ================================================= THEME GLOBAL ================================================= */

/* ================================================= THEME HEADER ================================================= */
.header {
	
}
/* ================================================= THEME HEADER ================================================= */

/* ================================================= THEME CONTENT ================================================= */
.content {
	
}
/* ================================================= THEME CONTENT ================================================= */

/* ================================================= THEME FOOTER ================================================= */
.footer {
	
}
/* ================================================= THEME FOOTER ================================================= */
