/* ================================================= BASE GLOBAL ================================================= */

/* Main URL replaced by PHP */
@main-url 	      { content: '$global-url'; }

/* IE10 viewport hack for Surface/desktop Windows 8 bug* /
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/* General HTML */
body {
	background-color: white;
  	overflow-x: hidden;
}
body,
h6 {
	font-size: 0.9rem;
}
img {
	outline: 0;
	border: 0;
}
a, a:visited, a:hover, a:active, a:focus {
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
th[align='center'],
td[align='center'] {
	text-align: center !important;
}
th[align='right'],
td[align='right'] {
	text-align: right !important;
}
th[align='left'],
td[align='left'] {
	text-align: left !important;
}
/* General HTML */

/* ================================================= BASE GLOBAL ================================================= */

/* ================================================= BASE RESOURCES ================================================= */

/* UI Date Picker */
.ui-datepicker {
	font-size: 12px;
}
.ui-datepicker .ui-datepicker-next {
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
	background: transparent !important;
	border: none;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
	font-weight: bold;
}
/* UI Date Picker */

/* LightGallery */
.lg-on {
	overflow: hidden !important;
}
.lg-outer .lg-thumb {
	margin-left: auto !important;
	margin-right: auto !important;
}
.lg-sub-html,
.lg-thumb-outer {
	transition: all 0.4s ease !important;
	-moz-transition: all 0.4s ease !important;
	-webkit-transition: all 0.4s ease !important;
	-o-transition: all 0.4s ease !important;
}
.lg-hide-items .lg-sub-html,
.lg-hide-items .lg-thumb-outer {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
}
/* LightGallery */

/* Hover CSS */
.hvr-opacity {
	transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
}
.hvr-opacity:hover {
	opacity: 0.6;
	transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
}
/* Hover CSS */

/* TinyMCE */
.mce-container-body {
	overflow: hidden;
	overflow-x: auto;
}
/* TinyMCE */

/* Data Tables */
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
	bottom: 0.6em;
}
div.dataTables_wrapper div.dataTables_length select {
	vertical-align: initial;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 5px 0px 2px 0px;
}
@media (max-width: $screen-sm) {
	.dataTables_wrapper .dataTables_length,
	.dataTables_wrapper .dataTables_info {
		margin-right: -15px !important;
	}
	.dataTables_wrapper .dataTables_filter,
	.dataTables_wrapper .dataTables_paginate{
		margin-left: -15px !important;
	}
	.dataTables_wrapper .dataTables_paginate .pagination {
		justify-content: flex-start !important;
	}
}
/* Data Tables */

/* ================================================= BASE RESOURCES ================================================= */

/* ================================================= BASE JAVASCRIPT ================================================= */

/* JS Href */
.JShref {
	cursor: pointer;
}
/* JS Href */

/* JS LightGallery */
.JSlightGallery .lg-thumb-prev,
.JSlightGallery .lg-thumb-next {
	display: none;
}
.JSlightGalleryNoBorder img,
.JSlightGalleryNoBorder img {
	display: none;
}
.JSlightGalleryNoBorder {
	border-color: transparent !important;
	position: relative;
}
.JSlightGalleryNoBorder div {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	color: white;
	text-align: center;
}
.JSlightGalleryNoBorder div i {
	font-size: 45px;
	margin-top: 2px;
}
.JSlightGalleryNoBorder div strong {
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-size: 12px;
	font-weight: normal;
}
/* JS LightGallery */

/* JS Rotate */
.JSrotate {
	visibility: hidden;
}
/* JS Rotate */

/* JS Auto Background */
.JSimgFill img {
	display: none;
}
/* JS Auto Background */

/* JS Text Cut One Line */
.JStextCutElem > div {
	position: relative;
}
.JStextCutElem > div:before {
	content: "&nbsp;";
	visibility: hidden;
}
.JStextCutElem > div > div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
/* JS Text Cut One Line */

/* JS Text Cut Multi Line */
.JStextCutMulti {
	overflow: hidden;
}
/* JS Text Cut Multi Line */

/* JS Video Launch */
.JSvideoLaunchIframe {
	background-color: #EEE;
	border: 1px solid #CCC;
	display: inline-block;
	width: 100%;
	height: auto;
}

.JSvideoLaunchIframe iframe {
	border: 0px;
}
.JSvideoLaunchURL {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: -10px;
	margin-top: 10px;
}
.JSvideoLaunchButton {
	color: white;
	font-weight: normal;
	background-color: red;
	border-radius: 4px;
	font-size: 12px;
	padding: 3px 5px;
	margin-right: 5px;
	padding-left: 8px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
	vertical-align: middle;
}
.JSvideoLaunchButton i {
	vertical-align: text-top;
	font-size: 16px;
}
.JSvideoLaunchText {
	display: inline-block;
	border: 1px solid #a0a0a0;
	font-size: 12px;
	font-weight: normal;
	padding: 2px 5px;
	color: black;
	background-color: white;
	border-radius: 4px;
	width: 285px;
	max-width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer & Edge */
	user-select: none;
}
.JSvideoLaunchCopy {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0;
}
/* JS Video Launch */

/* JS Loading */
.JSloading {
	background-color: transparent;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
}
.JSloading:before {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	content: "";
}
.JSloading:after {
	background-image: url("../img/base/loading/black.gif");
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333333;
	border-radius: 20px;
	position: fixed;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	content: "";
}
.JSloading.static,
.JSloading.static:before,
.JSloading.static:after {
	position: absolute;
}
.JSloading.red:after {
	background-image: url("../img/base/loading/red.gif");
	background-color: #d2040d;
}
.JSloading.blue:after {
	background-image: url("../img/base/loading/blue.gif");
	background-color: #486ca5;
}
.JSloading.green:after {
	background-image: url("../img/base/loading/green.gif");
	background-color: #1f7b5d;
}
.JSloading.yellow:after {
	background-image: url("../img/base/loading/yellow.gif");
	background-color: #faa425;
}
/* JS Loading */

/* JS Map Launch */
.JSmapLaunchInfo {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
}
.JSmapLaunchIframe {
	background-color: #EEE;
	border: 1px solid #CCC;
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.JSmapLaunchIframe iframe {
	border: 0px;
}
.JSmapLaunchInfo span {
	font-size: 14px;
}
.JSmapLaunchInfo .well {
	padding: 10px;
	font-style: italic;
}
.JSmapLaunchInfo > .JSmapLaunchIcons {
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: -4px;
}
.JSmapLaunchInfo > .JSmapLaunchIcons img {
	width: 90px;
	height: auto;
	vertical-align: middle;
	margin: 0px 5px;
}
.JSmapLaunchInfo > .JSmapLaunchIcons.small img {
	width: 60px;
}
/* JS Map Launch */

/* ================================================= BASE JAVASCRIPT ================================================= */
