# ---------------------------------------------------------------------------
# Allow any files or directories that exist to be displayed directly
# ---------------------------------------------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ---------------------------------------------------------------------------
# Dont allow directory listing
# ---------------------------------------------------------------------------

Options -Indexes