/* ================================================= BASE GLOBAL ================================================= */

/* Main URL replaced by PHP */
@main-url 	      { content: '@global-url'; }

/*IE10 viewport hack for Surface/desktop Windows 8 bug*/
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/* General HTML */
body{
	background-color: white;
  	overflow-x: hidden;
}
img{
	outline: 0;
	border: 0;
}
a, a:visited, a:hover, a:active, a:focus{
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
ul{
	padding-left: 13px;
}
ol{
	padding-left: 16px;
}
th[align='center'],
td[align='center']{
	text-align: center;
}
th[align='right'],
td[align='right']{
	text-align: right;
}
th[align='left'],
td[align='left']{
	text-align: left;
}
/* General HTML */

/* ================================================= BASE GLOBAL ================================================= */

/* ================================================= BASE RESOURCES ================================================= */

/* UI Date Picker */
.ui-datepicker{
	font-size:12px;
}
.ui-datepicker .ui-datepicker-next{
	cursor:pointer;
}
.ui-datepicker .ui-datepicker-prev{
	cursor:pointer;
}
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover{
	background: transparent !important;
	border: none;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover{
	font-weight: bold;
}
/* UI Date Picker */

/* UI Date Picker Custom */
/*.ui-datepicker .ui-datepicker-header{
	background: red;
	border-color: red;
	color: white;
}
.ui-datepicker .ui-datepicker-prev span{
	background:url("@global-url/resources/jquery-ui/css/images/ui-icons_ffffff_256x240.png");
	background-position:-80px -192px;
}
.ui-datepicker .ui-datepicker-next span{
	background:url("@global-url/resources/jquery-ui/css/images/ui-icons_ffffff_256x240.png");
	background-position:-48px -192px;
}
.ui-datepicker .ui-datepicker-prev-hover span{
	background:url("@global-url/resources/jquery-ui/css/images/ui-icons_ffffff_256x240.png");
	background-position:-80px -192px;
}
.ui-datepicker .ui-datepicker-next-hover span{
	background:url("@global-url/resources/jquery-ui/css/images/ui-icons_ffffff_256x240.png");
	background-position:-48px -192px;
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border: 1px solid red;
    background: red;
    color: black;
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus, 
.ui-button:hover, 
.ui-button:focus {
   border: 1px solid red;
    background: red;
    color: white;
}
.ui-datepicker .ui-datepicker-prev-hover.ui-state-hover{
	border:none;
}
.ui-datepicker .ui-datepicker-next-hover.ui-state-hover{
	border:none;
}
.ui-datepicker-title select,
.ui-datepicker-title select option{
	color: black;
}*/
/* UI Date Picker Custom */

/* LightGallery */
.lg-on{
	overflow: hidden !important;
}
.lg-backdrop{
	z-index: 1055; /*real: 1040 - bootstrap modal: 1040*/
}
.lg-outer{
	z-index: 1060; /*real: 1050 - bootstrap modal: 1050*/
}
.lg-outer .lg-thumb{
	margin-left: auto !important;
	margin-right: auto !important;
}
/* LightGallery */

/* Aditional Hover CSS */
.hvr-opacity{
	transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
}
.hvr-opacity:hover{
	opacity:0.6;
	transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
}
/* Aditional Hover CSS */

/* Time Picker */
.bootstrap-timepicker-widget table td input{
	border: 1px solid #cccccc;
	border-radius: 0px;
	width: 30px;
	padding: 3px;
}
/* Time Picker */

/* TinyMCE */
.mce-container-body{
	overflow: hidden;
	overflow-x: auto;
}
/* TinyMCE */

/* ================================================= BASE RESOURCES ================================================= */

/* ================================================= BASE JAVASCRIPT ================================================= */

/* JS LightGallery */
.JSlightGallery .lg-thumb-prev,
.JSlightGallery .lg-thumb-next{
	display: none;
}
.JSlightGalleryNoBorder img,
.JSlightGalleryNoBorder img{
	display: none;
}
.JSlightGalleryNoBorder{
	border-color: transparent !important;
	position: relative;
}
.JSlightGalleryNoBorder div{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	color: white;
	text-align: center;
}
.JSlightGalleryNoBorder div span{
	font-size: 30px;
	margin-top: 10px;
}
.JSlightGalleryNoBorder div strong{
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	font-size: 12px;
	font-weight: normal;
}
/* JS LightGallery */

/* JS Rotate */
.JSrotate{
	visibility: hidden;
}
/* JS Rotate */

/* JS Auto Background */
.JSimgFill img{
	display: none;
}
/* JS Auto Background */

/* JS Text Cut */
.JStextCut > div{
	position: relative;
}
.JStextCut > div:before {
	content: "&nbsp;";
	visibility: hidden;
}
.JStextCut > div > div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* JS Text Cut */

/* JS Video Launch */
.JSvideoLaunchIframe{
	background-color: #DDD;
	display:inline-block;
	width:100%;
	height:auto;
	margin-bottom: 10px;
}

.JSvideoLaunchIframe iframe{
	border: 0px;
}
.JSvideoLaunchURL{
	display:inline-block;
	width:100%;
	text-align: center;
	margin-bottom: -10px;
}
.JSvideoLaunchButton{
	color: #FFF;
	font-weight: normal;
	background-color: red;
	border-radius: 3px;
	font-size: 12px;
	padding: 3px 5px;
	margin-right: 5px;
	padding-left: 8px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
	vertical-align: middle;
}
.JSvideoLaunchButton span{
	vertical-align: initial;
	font-size: 11px;
}
.JSvideoLaunchText{
	display: inline-block;
	border: 1px solid #a0a0a0;
	font-size: 12px;
	font-weight: normal;
	padding: 2px 5px;
	color:#000;
	background-color: #FFF;
	border-radius: 3px;
	width: 285px;
	max-width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
.JSvideoLaunchCopy{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0;
}
/* JS Video Launch */

/* JS Loading */
.JSloading{
	background-color: transparent;
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999;
	top:0px;
	left: 0px;
}
.JSloading:before{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	content: "";
}
.JSloading:after{
	background-image:url("icons/loading/loading-icon-black.gif");
	background-position:center center;
	background-repeat:no-repeat;
	background-color:#333333;
	border-radius: 20px;
	position:fixed;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
	content: "";
}
.JSloading.static,
.JSloading.static:before,
.JSloading.static:after{
	position: absolute;
}
.JSloading.red:after{
	background-image:url("icons/loading/loading-icon-red.gif");
	background-color:#d2040d;
}
.JSloading.blue:after{
	background-image:url("icons/loading/loading-icon-blue.gif");
	background-color:#486ca5;
}
.JSloading.green:after{
	background-image:url("icons/loading/loading-icon-green.gif");
	background-color:#1f7b5d;
}
.JSloading.yellow:after{
	background-image:url("icons/loading/loading-icon-yellow.gif");
	background-color:#faa425;
}
/* JS Loading */

/* JS Map Launch */
.JSmapLaunchInfo{
	display:inline-block;
	width:100%;
	height:auto;
	text-align:center;
}
.JSmapLaunchIframe{
	background-color: #DDD;
	display:inline-block;
	width:100%;
	height:auto;
	margin-bottom: 10px;
}
.JSmapLaunchIframe iframe{
	border: 0px;
}
.JSmapLaunchInfo span{
	font-size: 14px;
}
.JSmapLaunchInfo .well{
	padding: 10px;
	font-style: italic;
}
.JSmapLaunchInfo > .JSmapLaunchIcons{
	display:inline-block;
	width:100%;
	height:auto;
	margin-top:15px;
}
.JSmapLaunchInfo > .JSmapLaunchIcons img{
	width: 90px;
	height: auto;
	vertical-align: middle;
	margin: 0px 5px;
}
.JSmapLaunchInfo > .JSmapLaunchIcons.small img{
	width: 60px;
}
/* JS Map Launch */

/* JS Paginator */
/*.JSpaginator{
	width:100%;
	height:50px;
	float:left;
	display:table;
}
.JSpaginator .JSpageItems{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.JSpaginator .JSpageItems .JSpageGroup{
	display: inline;
}
.JSpaginator .JSpageItems .JSpageGroup.JSpageGroupNext:before,
.JSpaginator .JSpageItems .JSpageGroup.JSpageGroupPrev:before{
	content: '•••';
	vertical-align: bottom;
}
.JSpaginator .JSpageItems a,
.JSpaginator .JSpageItems a:hover,
.JSpaginator .JSpageItems a:visited{
	display:none;
	color:gray;
	font-size:24px;
	font-family: 'OpenSans';
	vertical-align:middle;
	padding:5px 8px;
	cursor:pointer;
}
.JSpaginator .JSpageItems .JSpageGroup.JSpageActive a,
.JSpaginator .JSpageItems .JSpageGroup.JSpageActive a:hover,
.JSpaginator .JSpageItems .JSpageGroup.JSpageActive a:visited{
	display: inline-block;
}
.JSpaginator .JSpageItems a.JSpagePrev,
.JSpaginator .JSpageItems a.JSpageNext{
	display: inline-block;
}
.JSpaginator .JSpageItems a:hover,
.JSpaginator .JSpageItems a.JSpageActive{
	color: red;
	font-family: 'OpenSans-Semibold';
}
.JSpaginator .JSpageItems a .glyphicon{
	font-size: 15px;
	vertical-align: middle;
	margin-top: -7px;
}
@media (max-width: @screen-phone) 
{
	.JSpaginator .JSpageItems a,
	.JSpaginator .JSpageItems a:hover,
	.JSpaginator .JSpageItems a:visited,
	.JSpaginator .JSpageItems span{
		font-size:20px;
	}
}*/
/* JS Paginator */

/* ================================================= BASE JAVASCRIPT ================================================= */
