/* ================================================= BASE ADMIN ================================================= */

/*Font size*/
#adminmenu div.wp-menu-name{
	font-size:12px;
}
#adminmenu .wp-submenu > li > a{
	font-size:12px;
}
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item{
	font-size:12px;
}

/*Sidebar separator*/
#adminmenu li.wp-menu-separator{
	border-top: 2px dashed gray;
	height: 0px;
	margin: 10px 0px;
}

/*Login Logo*/
.login #login h1 a{
	background-image: url('icons/admin/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
	background-size:contain;
	width:100%;
	height: 90px;
}

/*Attachment Fields*/
@media (min-width: 992px) { 
	.attachment-details .setting .value, 
	.attachment-details .setting input[type="tel"], 
	.attachment-details .setting input[type="text"], 
	.attachment-details .setting input[type="password"], 
	.attachment-details .setting input[type="number"], 
	.attachment-details .setting input[type="search"], 
	.attachment-details .setting input[type="email"], 
	.attachment-details .setting input[type="url"], 
	.attachment-details .setting textarea,
	.attachment-details .setting select,
	.media-sidebar .setting .value, 
	.media-sidebar .setting input[type="tel"], 
	.media-sidebar .setting input[type="text"], 
	.media-sidebar .setting input[type="password"], 
	.media-sidebar .setting input[type="number"], 
	.media-sidebar .setting input[type="search"], 
	.media-sidebar .setting input[type="email"], 
	.media-sidebar .setting input[type="url"], 
	.media-sidebar .setting textarea, 
	.media-sidebar .setting select {
		width:100%;
		min-width:100%;
		max-width:100%;
	}
	.compat-item .field{
		width:100%;
		min-width:100%;
		max-width:100%;
	}
}
.attachment-details .setting span, 
.compat-item label span, 
.media-sidebar .setting span{
    float: left;
	width: 100%;
	min-width:100%;
	max-width:100%;
	text-align: left;
}
.media-modal label br.clear, 
.media-modal legend br.clear{
    display:none;
}
.media-types-required-info{
    display:none;
}

/*ACF Attachement fields*/
.media-modal .compat-attachment-fields > tbody > .acf-field > .acf-input{
	width:100%;
}
.media-modal .compat-attachment-fields > tbody > .acf-field > .acf-label{
	min-width:100%;
	max-width:100%;
	text-align: left;
}
@media (max-width: 640px) { 
	.acf-expanded .media-sidebar{
		bottom:inherit;
		overflow: auto;
		height: 100%;
	}
}

/*CPT UI Field Container*/
#poststuff{
	min-width: inherit;
}

/* ================================================= BASE ADMIN ================================================= */
