/* ================================================= FONTS ================================================= */
@font-face {
	font-family: 'BebasNeue';
	src: url('fonts/bebasneue/BebasNeue.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/bebasneue/BebasNeue.otf')  format('opentype'),
		 url('fonts/bebasneue/BebasNeue.woff') format('woff'), 
		 url('fonts/bebasneue/BebasNeue.ttf')  format('truetype'), 
		 url('fonts/bebasneue/BebasNeue.svg#BebasNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* ================================================= FONTS ================================================= */